<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <a routerLink="/home" class="nav-link">أسئلة وأجوبة ميكست</a>
    </div>
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">الرئيسية</a>
      </li>
      <li class="nav-item">
        <a routerLink="/links" routerLinkActive="active" class="nav-link">روابط مفيدة</a>
      </li>
      <li class="nav-item">
        <a routerLink="/how-to-search" routerLinkActive="active" class="nav-link">كيفية البحث</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p class="footer-text">آخر تحديث: أبريل 2026 </p>
</footer>